{% extends 'base.html.twig' %}

{% block body %}
{% include '_nav_bar.html.twig' %}

<div class="content">

    <h1>My ShoppingLists</h1>
    <h3>The website to never forget your shopping lists !</h3>
    <h2>My ShoppingLists</h2>

    <div class="center-tab">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Access</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_shopping_list in access_shopping_lists %}
            <tr>
                <td>{{ access_shopping_list.shoppingListId.name }}</td>
                <td>{{ access_shopping_list.permission }}</td>
                <td>
                    <a class="button" href="{{ path('app_shopping_list_show', {'id': access_shopping_list.shoppingListId.id }) }}">Open</a>
                    {% set shopping_list = access_shopping_list.shoppingListId %}
                    {% include 'shopping_list/_delete_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="b-bottom"><a class="button" href="{{ path("app_shopping_list_new") }}">Create a new list</a></div>
</div>

{% endblock %}
