{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<img src="/background.jpeg" alt="Fruits and vegetables">
<div class="content">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a class="button" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Welcome on Fruitfull List !</h2>
        <p>The website to never forget your shopping lists ! Log in to access your shopping space.</p>
        <h2 class="h2 mb-3 font-weight-normal">Please sign in</h2>
        <label for="inputPseudo">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class="b-bottom">
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <a class="button" href="{{path('app_register')}}"><button>Register</button></a>
    </div>
</div>
{% endblock %}
