{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<img src="/background.jpeg" alt="Fruits and vegetables">

<div class="content">
    <h1>Welcome on Fruitfull List !</h2>
    <p>The website to never forget your shopping lists ! Create your account to access your shopping space.</p>
    <h2>Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="b-bottom">
            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
            <a class="button" href="{{path('app_login')}}"><button>Login</button></a>
        </div>
</div>

{% endblock %}
