{% extends 'base.html.twig' %}

{% block title %}Edit Store{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Edit Store</h1>

    {{ include('admin/store/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_store_index') }}">Back to list</a>

    {{ include('admin/store/_delete_form.html.twig') }}
</div>
{% endblock %}
