{% extends 'base.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Store index</h1>
    <p class="pb-8">List of all the registered stores :</p>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>
                    <a class="button" href="{{ path('app_store_show', {'id': store.id}) }}">Show</a>
                    <a class="button" href="{{ path('app_store_edit', {'id': store.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_store_new') }}">Create new</a></div>
</div>
{% endblock %}
