{% extends 'base.html.twig' %}

{% block title %}New Store{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Create new Store</h1>

    {{ include('admin/store/_form.html.twig') }}

    <a class="button" href="{{ path('app_store_index') }}">Back to list</a>
</div>
{% endblock %}
