{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Store</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ store.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ store.name }}</td>
            </tr>
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_store_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_store_edit', {'id': store.id}) }}">Edit</a>

    {{ include('admin/store/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
