{% extends 'base.html.twig' %}

{% block title %}Hello AllArticlesController!{% endblock %}

{% block body %}
{% include '_nav_bar.html.twig' %}


<div class="content">

    <h1>Articles</h1>
    <h3 class="pb-8">Here are all the articles in the shops working with fruitfull list :</h3>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="td-image"><img src="/images/{{ article.image }}" class="img-article" alt="article" /></td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.type }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

</div>


{% endblock %}
