{# <nav>

    <h1>Admin navigation</h1>

    <ul>
        <li><a class="button" href="{{ path("admin_index") }}">Admin</a></li>
        <li><a class="button" href="{{ path("app_article_index") }}">Articles</a></li>
        <li><a class="button" href="{{ path("app_store_index") }}">Store</a></li>
        <li><a class="button" href="{{ path("app_article_pricing_index") }}">Articles Pricing</a></li>
        <li><a class="button" href="{{ path("app_logout") }}">Logout</a></li>
    </ul>

</nav> #}


<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:nav">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="{{ path('app_home_page') }}" class="flex items-center">
        <img src="/icon.ico" class="h-6 mr-3 sm:h-9" alt="Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fruitfull List</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:nav dark:border-gray-700">
        <li>
          <a href="{{ path("app_home_page") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Public space</a>
        </li>
        <li>
          <a href="{{ path("app_article_index") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Articles</a>
        </li>
        <li>
          <a href="{{ path("app_store_index") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Stores</a>
        </li>
        <li>
          <a href="{{ path("app_article_pricing_index") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Articles pricing</a>
        </li>
        <li>
          <a href="{{ path("app_logout") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
