{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% include 'admin/_admin_nav.html.twig' %}

<div class="example-wrapper">
    <h1>Welcome to the admin navigation !</h1>

    <ul>
        <li><a class="button" href="{{ path("app_article_index") }}"> Articles </a></li>
        <li><a class="button" href="{{ path("app_store_index") }}"> Store </a></li>
        <li><a class="button" href="{{ path("app_article_pricing_index") }}"> Articles Pricing </a></li>
    </ul>
    
</div>
{% endblock %}
