@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
    
    /* General configurations */
    * {
        @apply font-sans;
    }
    .content {
        @apply pt-1 px-60 pb-10;
    }
    nav {
        @apply px-6 py-4 flex justify-between items-center bg-green-500;
    }
    .nav {
        @apply bg-[#001e02];
    }

    /* Images */
    .img-article {
        @apply w-44;
    }

    /* Texts */
    h1 {
        @apply text-3xl py-5;
    }
    h2 {
        @apply text-2xl py-4;
    }
    h3 {
        @apply text-xl py-3;
    }
    p {
        @apply mb-5
    }

    /* Tables */
    table, input, td, textarea {
        @apply border-collapse border-2 rounded-lg border-gray-400;
    }
    table {
        @apply rounded-lg;
    }
    table {
        @apply bg-slate-200 rounded-xl overflow-hidden mb-3;
    }
    thead > tr {
        @apply bg-green-400;
    }
    th {
        @apply px-3 py-4;
    }
    td {
        @apply px-3 py-4 text-center;
    }
    .td-image {
        @apply p-0;
    }
    
    /* Elements */
    .button, .btn {
        @apply font-medium px-4 py-2 my-5 rounded-md bg-amber-200 hover:bg-amber-300 duration-150 mx-2;
    }
    input, textarea {
        @apply border bg-gray-100;
    }
    select, select option {
        @apply border bg-gray-100 border-gray-400 font-medium rounded-md py-3 px-10 w-full p-2 mb-4;
    }
    input, textarea {
        @apply w-full p-2 mb-4;
    }
    textarea {
        @apply min-h-[10rem];
    }
    input[type="checkbox"] {
        @apply mx-3 h-5 w-5;
    }

    /* Elements in tables */
    li {
        @apply my-6;
    }
    .center-tab, .b-bottom {
        @apply flex justify-center;
    }
    .center-tab tbody h3 {
        @apply p-0;
    }
    .center-tab tbody .btn {
        @apply m-0;
    }
    .center-tab tbody a + form .btn {
        @apply mt-4;
    }
    .center-tab tbody input {
        @apply bg-slate-200 text-center w-40 mr-4 m-0;
    }


}