<form method="post" action="{{ path('app_shopping_list_articles_quantity_delete', {'id': shopping_list_articles_quantity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopping_list_articles_quantity.id) }}">
    <button class="btn">Delete</button>
</form>
