<form method="post" action="{{ path('app_shopping_list_articles_purshased_quick_edit', {'id': shopping_list_articles_quantity.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ shopping_list_articles_quantity.id) }}">
    <input 
        type="checkbox" 
        name="newPurshased"
        {% if shopping_list_articles_quantity.purshased == 1 %}checked{% endif %}
        >

    <button class="btn">Set purshased</button>
</form>