<form method="post" action="{{ path('app_shopping_list_articles_quantity_quick_edit', {'id': shopping_list_articles_quantity.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ shopping_list_articles_quantity.id) }}">
    <input type="number" name="newQuantity" value="{{ shopping_list_articles_quantity.quantity }}">
    <button class="btn">Set quantity</button>
</form>