{% extends 'base.html.twig' %}

{% block title %}Edit ShoppingListArticlesQuantity{% endblock %}

{% block body %}
    <h1>Edit ShoppingListArticlesQuantity</h1>

    {{ include('shopping_list_articles_quantity/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_shopping_list_articles_quantity_index') }}">Back to list</a>

    {{ include('shopping_list_articles_quantity/_delete_form.html.twig') }}
{% endblock %}
