{% extends 'base.html.twig' %}

{% block title %}ShoppingListArticlesQuantity index{% endblock %}

{% block body %}
    <h1>ShoppingListArticlesQuantity index</h1>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopping_list_articles_quantity in shopping_list_articles_quantities %}
            <tr>
                <td>{{ shopping_list_articles_quantity.id }}</td>
                <td>{{ shopping_list_articles_quantity.quantity }}</td>
                <td>
                    <a class="button" href="{{ path('app_shopping_list_articles_quantity_show', {'id': shopping_list_articles_quantity.id}) }}">Show</a>
                    <a class="button" href="{{ path('app_shopping_list_articles_quantity_edit', {'id': shopping_list_articles_quantity.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_shopping_list_articles_quantity_new') }}">Create new</a></div>
{% endblock %}
