{% extends 'base.html.twig' %}

{% block title %}New ShoppingListArticlesQuantity{% endblock %}

{% block body %}
    <h2>Add an article</h2>

    {% include 'shopping_list_articles_quantity/_form.html.twig' %}
{% endblock %}
