{% extends 'base.html.twig' %}

{% block title %}ShoppingListArticlesQuantity{% endblock %}

{% block body %}
    <h1>ShoppingListArticlesQuantity</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopping_list_articles_quantity.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ shopping_list_articles_quantity.quantity }}</td>
            </tr>
        </tbody>
    </table></div>

    <div class="b-bottom"><a class="button" href="{{ path('app_shopping_list_articles_quantity_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_shopping_list_articles_quantity_edit', {'id': shopping_list_articles_quantity.id}) }}">Edit</a></div>

    {{ include('shopping_list_articles_quantity/_delete_form.html.twig') }}
{% endblock %}
