<form method="post" action="{{ path('app_article_pricing_delete', {'id': article_pricing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article_pricing.id) }}">
    <button class="btn">Delete</button>
</form>
