{% extends 'base.html.twig' %}

{% block title %}Edit ArticlePricing{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Edit ArticlePricing</h1>

    {{ include('admin/article_pricing/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_article_pricing_index') }}">Back to list</a>

    {{ include('admin/article_pricing/_delete_form.html.twig') }}
</div>

{% endblock %}
