{% extends 'base.html.twig' %}

{% block title %}ArticlePricing index{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>ArticlePricing index</h1>
    <p class="pb-8"> Set the price according to the store</p>

    <div class="center-tab">
    <table>
        <thead>
            <tr>
                <th>Store</th>
                <th>Article Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_pricing in article_pricings %}
            <tr>
                <td>{{ article_pricing.storeId.name }}</td>
                <td>{{ article_pricing.articleId.name }}</td>
                <td>{{ article_pricing.price }}</td>
                <td>
                    <a class="button" href="{{ path('app_article_pricing_edit', {'id': article_pricing.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="b-bottom"><a class="button" href="{{ path('app_article_pricing_new') }}">Create new</a></div>
</div>
    
{% endblock %}
