{% extends 'base.html.twig' %}

{% block title %}New ArticlePricing{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Create new ArticlePricing</h1>

    {{ include('admin/article_pricing/_form.html.twig') }}

    <a class="button" href="{{ path('app_article_pricing_index') }}">Back to list</a>
</div>
{% endblock %}
