{% extends 'base.html.twig' %}

{% block title %}ArticlePricing{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>ArticlePricing</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_pricing.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ article_pricing.price }}</td>
            </tr>
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_article_pricing_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_article_pricing_edit', {'id': article_pricing.id}) }}">Edit</a>

    {{ include('admin/article_pricing/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
