
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:nav">

  <div class="container flex flex-wrap items-center justify-between mx-auto">

    <a href="{{ path('app_home_page') }}" class="flex items-center px-4 py-2 duration-200 hover:bg-slate-50/5 rounded-lg">
        <img src="/icon.ico" class="h-6 mr-3 sm:h-9" alt="Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fruitfull List</span>
    </a>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">

      <ul class="flex flex-col p-4 mt-4-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:nav dark:border-gray-700">
        {% if isAdmin == true %}
          <li>
            <a href="{{ path('app_article_index') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent duration-200">Admin space</a>
          </li>
        {% endif %}
        {# <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Articles</a>
        </li> #}
        <li>
          <a href="{{ path('app_home_page') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">My lists</a>
        </li>
        <li>
          <a href="{{ path('app_all_articles') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Articles</a>
        </li>
        {# <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">My account</a>
        </li> #}
        <li>
          <a href="{{ path("app_logout") }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log out</a>
        </li>
      </ul>

    </div>

  </div>

</nav>
