<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fruitfull List</title>
        <link rel="icon" href="/icon.ico">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block menu %}{% endblock %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
