<form method="post" action="{{ path('app_access_shopping_list_delete', {'id': access_shopping_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ access_shopping_list.id) }}">
    <button class="btn">Delete</button>
</form>
