{% extends 'base.html.twig' %}

{% block title %}Edit AccessShoppingList{% endblock %}

{% block body %}
    <h1>Edit AccessShoppingList</h1>

    {{ include('access_shopping_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_access_shopping_list_index') }}">Back to list</a>

    {{ include('access_shopping_list/_delete_form.html.twig') }}
{% endblock %}