{% extends 'base.html.twig' %}

{% block title %}AccessShoppingList index{% endblock %}

{% block body %}
    <h1>AccessShoppingList index</h1>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Permission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_shopping_list in access_shopping_lists %}
            <tr>
                <td>{{ access_shopping_list.id }}</td>
                <td>{{ access_shopping_list.permission }}</td>
                <td>
                    <a class="button" href="{{ path('app_access_shopping_list_show', {'id': access_shopping_list.id}) }}">Show</a>
                    <a class="button" href="{{ path('app_access_shopping_list_edit', {'id': access_shopping_list.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

    <div class="b-bottom"><a class="button" href="{{ path('app_access_shopping_list_new') }}">Create new</a></div>
{% endblock %}
