{% extends 'base.html.twig' %}

{% block title %}New AccessShoppingList{% endblock %}

{% block body %}
    <h1>Create new AccessShoppingList</h1>

    {{ include('access_shopping_list/_form.html.twig') }}

    <a class="button" href="{{ path('app_access_shopping_list_index') }}">Back to list</a>
{% endblock %}
