{% extends 'base.html.twig' %}

{% block title %}AccessShoppingList{% endblock %}

{% block body %}
    <h1>AccessShoppingList</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ access_shopping_list.id }}</td>
            </tr>
            <tr>
                <th>Permission</th>
                <td>{{ access_shopping_list.permission }}</td>
            </tr>
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_access_shopping_list_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_access_shopping_list_edit', {'id': access_shopping_list.id}) }}">Edit</a></div>

    {{ include('access_shopping_list/_delete_form.html.twig') }}
{% endblock %}
