{{ form_start(form) }}
    {{ form_widget(form) }}
    {# <div><label for="article_image" class="required">Image</label>
    <input type="text" id="article_image" name="article[image]" required="required" maxlength="255" /></div>#}
    <button class="btn">{{ button_label|default('Save') }}</button> 
{{ form_end(form) }}
