{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Article index</h1>
    <p class="pb-8">List of all the existing articles :</p>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.type }}</td>
                <td>
                    <a class="button" href="{{ path('app_article_show', {'id': article.id}) }}">Show</a>
                    <a class="button" href="{{ path('app_article_edit', {'id': article.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_article_new') }}">Create new</a></div>
</div>
{% endblock %}
