{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Create new Article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a class="button" href="{{ path('app_article_index') }}">Back to list</a>
</div>
{% endblock %}
