{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

{% include 'admin/_admin_nav.html.twig' %}

<div class="content">
    <h1>Article</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ article.type }}</td>
            </tr>
            <tr>
                <th>AVG Price</th>
                <td>
                    {% set avgPrice = 0 %}
                    {% for articlePricing in article.articlePricings %}
                        {% set avgPrice = avgPrice + articlePricing.price %}
                    {% endfor %}
                    {{ avgPrice / 3 }}
                </td>
            </tr>
            <tr>
                <th>Image</th>
                <td class="td-image"><img src="/images/{{ article.image }}" class="img-article" alt="article" /></td>
            </tr>
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_article_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_article_edit', {'id': article.id}) }}">Edit</a>

    {{ include('admin/article/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
