{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new user</h1>

    {{ include('user/_form.html.twig') }}

    <a class="button" href="{{ path('app_user_index') }}">Back to list</a>
{% endblock %}
