{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <div class="center-tab"><table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table></div>

    <div class="b-bottom"><a class="button" href="{{ path('app_user_index') }}">Back to list</a>

    <a class="button" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a></div>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
