{% extends 'base.html.twig' %}

{% block title %}ShoppingList - Accesses{% endblock %}

{% block body %}
{% include '_nav_bar.html.twig' %}

<div class="content">
    <h1>ShoppingList - Accesses</h1>

    <h2>{{ shopping_list.name }}</h2>

    <a class="button" href="{{ path('app_shopping_list_show', { "id": shopping_list.id }) }}">Back to the list</a>

    <div class="center-tab">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Permission</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for access in accesses %}
            <tr>
                <td>{{ access.userId }}</td>
                <td>{{ access.permission }}</td>
                <td>
                    {% set access_shopping_list = access %}
                    {% include 'access_shopping_list/_delete_form.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>

    {{ form(addAccessForm) }}
</div>

{% endblock %}
