{% extends 'base.html.twig' %}

{% block title %}Edit ShoppingList{% endblock %}

{% block body %}

{% include '_nav_bar.html.twig' %}

<div class="content">
    <h1>Edit ShoppingList</h1>

    {{ include('shopping_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_shopping_list_show', {"id": shopping_list.id}) }}">Back to list</a>

    {{ include('shopping_list/_delete_form.html.twig') }}
</div>

{% endblock %}
