{% extends 'base.html.twig' %}

{% block title %}ShoppingList index{% endblock %}

{% block body %}
{% include '_nav_bar.html.twig' %}

<div class="content">
    <h1>ShoppingList index</h1>

    <div class="center-tab"><table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Permission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopping_list in shopping_lists %}
            <tr>
                <td>{{ shopping_list.shoppingListId.name }}</td>
                <td>{{ shopping_list.permission }}</td>
                <td>
                    <a class="button" href="{{ path('app_shopping_list_show', {'id': shopping_list.shoppingListId.id }) }}">Show</a>
                    <a class="button" href="{{ path('app_shopping_list_edit', {'id': shopping_list.shoppingListId.id }) }}">Edit</a>
                    {% include 'shopping_list/_delete_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

     <div class="b-bottom"><a class="button" href="{{ path('app_shopping_list_new') }}">Create new</a></div>
    </div>

{% endblock %}
