{% extends 'base.html.twig' %}

{% block title %}New ShoppingList{% endblock %}

{% block body %}
{% include '_nav_bar.html.twig' %}

<div class="content">
    <h1>Create new ShoppingList</h1>

    {{ include('shopping_list/_form.html.twig') }}

    <a class="button" href="{{ path('app_home_page') }}">Back to list</a>
</div>

{% endblock %}
