{% extends 'base.html.twig' %}

{% block title %}ShoppingList{% endblock %}

{% block body %}
{% include '_nav_bar.html.twig' %}

<div class="content">
    <h1>ShoppingList</h1>

    <h2>{{ shopping_list.name }}</h2>

    <a class="button" href="{{ path('app_shopping_list_access', {"id": shopping_list.id}) }}">Manage Accesses</a>

    <a class="button" href="{{ path('app_shopping_list_edit', {'id': shopping_list.id}) }}">Rename list</a>

    {% include 'shopping_list/_delete_form.html.twig' %}

    <h2>Stats</h2>

    <p>Number of articles : {{ stats.numberOfArticles }}</p>
    <p>Total price : {{ stats.totalPrice }}</p>

    <div>

    </div>

    <h2>Articles</h2>

    <div class="center-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                    <th>Store</th>
                    <th>Price / Unit</th>
                </tr>
                    
            </thead>
            <tbody>
            {% for store in stores %}

                <tr><th colspan="5">
                    <h1>{{store}}</h1>
                    <p>
                        Total : {{ stats.perStores[store.id].total }} - Average : {{ stats.perStores[store.id].avg }}
                        - Maximum : {{ stats.perStores[store.id].max }} - Minimum : {{ stats.perStores[store.id].min }}
                    </p>
                </th></tr>

                {% for article_quantity in articles_quantity %}
                    <tr>
                    {% if article_quantity.store.id == store.id %}

                        <td>{{ article_quantity.articleId.name }}</td>

                        {% set shopping_list_articles_quantity = article_quantity %}
                        <td>
                            {% include 'shopping_list_articles_quantity/_quick_edit_purshased_form.html.twig' %}
                            {% include 'shopping_list_articles_quantity/_quick_edit_quantity_form.html.twig' %}
                        </td>
                        <td>{% include 'shopping_list_articles_quantity/_delete_form.html.twig' %}</td>

                        {% for articlePricing in article_quantity.articleId.articlePricings %}

                            {% if article_quantity.store == articlePricing.storeId %}
                                <td> {{ articlePricing.storeId }}  </td>
                                <td> {{ articlePricing.price }} </td>
                            {% endif %}

                        {% endfor %}
                        </tr>

                    {% endif %}

                {% endfor %}
                
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'shopping_list_articles_quantity/new.html.twig' %}
</div>

{% endblock %}
